<nav>
  <div class="nav-wrapper green lighten-1">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="compo/events">Evènements</a></li>
      <li><a routerLink="compo/listCoop">Les coopératives</a></li>
      <li><a routerLink="compo/contact">Contact</a></li>
      <li><a routerLink="compo/seConnecter" class="waves-effect waves-light orange lighten-2 btn">Se connecter</a></li>
      <li><a routerLink="compo/inscription" class="waves-effect waves-light orange lighten-2 btn">Créer un compte</a></li>
    </ul>
  </div>
</nav>
