

<div class="carousel">
  <div class="carousel-item">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/nature.jpg">
      </div>
      <span class="card-title">Card Title</span>
      <div class="card-content">
        This is a content
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/nature.jpg">
      </div>
      <span class="card-title">Card Title</span>
      <div class="card-content">
        This is a content
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/nature.jpg">
      </div>
      <span class="card-title">Card Title</span>
      <div class="card-content">
        This is a content
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/nature.jpg">
      </div>
      <span class="card-title">Card Title</span>
      <div class="card-content">
        This is a content
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
